/* Grid Container */
.grid-container {
    display: grid;
    gap: 16px;
    padding: 16px;
}


/* Flex Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 16px;
}

/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
}

.child {
    flex: 1;
    text-align: center;
    padding: 10px;
}

/* Columns */
.col {
    padding: 8px;
    text-align: center;
}


/*flex-grow: 0; Don’t grow this column to fill available space.*/
/*flex-shrink: 0; Don’t shrink this column if there’s not enough space.*/
/*flex-basis: 8.33%; The column's base width is 8.33% of its container. */


/* 12-Column Grid */
.col-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
}
.col-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
}
.col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
}
.col-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


/* Responsive (stack columns on small screens) */
@media (max-width: 768px) {

    header {
        justify-content: end; /* Optional: center horizontally */
    }

    .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
}
